@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@layer components {
  .btn {
    @apply bg-[#555B6E] text-white font-bold py-2 px-4 rounded p-10 max-w-50 text-center;
  }
  .blinking:not(:hover) {
    animation: blinkingBox 2s infinite;
  }
}

@keyframes blinkingBox {
  0%, 100% { background-color: #e79a98; }
  50% { background-color: #FF0800; }
}

/* 89B0AE */
/* 555B6E */
/* FAF9F9 */
/* BEE3DB */